@media screen and (max-width: 576px) {
    #tracker .container, #empty-state .container {
        padding: 40px 20px;
    }

    #tracker .stat-ctn {
        flex-direction: column;
    }

    #tracker .filter-ctn {
        flex-direction: column;
        align-items: flex-start;
    }
}